/*Mis Variables*/
$fuenteGeneral: Arial, Helvetica, sans-serif;

$colorTexto: #222;
$colorTextoSuave: #555;
$colorBase: #ffffff;
$colorAcento: #ffd400;

$colorSeccionHero: #e20101;
$colorTag: #5e2b97;
$colorTagOtro: #ff9f0f;

$colorFondoSuave: rgb(236, 236, 236);
$colorFooter: rgb(0, 4, 255);

$colorBtn: #e53935;
$colorBtnHover: #5e2b97;
$colorBtnActive: #33115a;

$colorProyectosHeader: #2f67ff;

$mobile: 500px;